h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
 font-family: 'Open Sans', serif;
   font-size: 100%;
   background:#fff; 
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
button {
	background: none;
    border: none;
    margin-top:5em;
}
.oranged {color: #d98a19;}

/*Loading=========================== */
#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #f3f3f3; z-index: 999999; height: 100%; }

.loader { position: absolute; left:50%; top:50%; margin-left:-25px; margin-top:-25px; width: 50px;}
.loader:before { content: ''; display: block; padding-top: 100%;}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes rotate {
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes dash {
  0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89,200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89,200; stroke-dashoffset: -124px; }
}
@keyframes dash {
  0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89,200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89,200; stroke-dashoffset: -124px; }
}
@-webkit-keyframes color {
  100%, 0% { stroke: #d62d20; }
  40% { stroke: #0057e7; }
  66% { stroke: #008744; }
  80%, 90% { stroke: #ffa700; }
}
@keyframes color {
  100%, 0% { stroke: #d62d20; }
  40% { stroke: #0057e7; }
  66% { stroke: #008744; }
  80%, 90% { stroke: #ffa700; }
}
.reading-progress {	position: fixed; background: #d98a19; display: block; height: 3px; transition-property: width; transition-duration: 0.1s; z-index: 9999;}

/*--Theme--*/
.button-one {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: #000;
	cursor: pointer;
	padding: 20px 70px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	outline: none;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.button-type-one {
    color: #ffffff;
    font-size: 32px;
}
.button-extra {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: #000;
	cursor: pointer;
	padding: 20px 50px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	outline: none;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.button-type-extra {
    color: #ffffff;
    font-size: 20px;
}
.button-box:hover:after {
	width: 100%;
	opacity: 1;
}
.button-box {
    background-color: rgba(255,255,255,0.2);
    border: 5px solid #222;
    overflow: hidden;
    color: #000000;
}
.button-box:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background:#222;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.button-one:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.button-box:hover, .button-box:active {
	color:#d98a19;
	text-decoration:none;
}

.button-extra:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.cl-effect-5 a { overflow: hidden;}
.cl-effect-5 a span { position: relative; display: inline-block; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s;}
.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 600;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.cl-effect-5 a:hover span, .cl-effect-5 a:focus span { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%);}

.header {
	background: url(../images/banner.jpg)no-repeat center top; 
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
	min-height:500px;
}
.serviceheader {
	background: url(../images/banner.jpg)no-repeat center top; 
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center top;
	position: relative;
	min-height:200px;
}
/*------start-top-nav------*/
.top-header{
	display:none;
}
.top-nav {
	position:relative;
	margin-top: 1.5em;
	padding-left: 13px;
}
.top-serv {
	position:relative;
	margin-top: 1.5em;
}

/*------nav------*/
.nav { width:100%;}
ul.nav-list { list-style: none; padding: 0px; margin: 0px;text-align: center; }
ul.nav-list li { display: inline-block; text-align: left;
}
ul.nav-list li a.logo:hover{
	border-bottom:none; 
}
ul.nav-list li a { 
	        display: block; 
	        margin:0px 15px;
	        font-weight: 600;
	        text-decoration: none; 
			text-transform: uppercase;
	        color:#fff;
	        font-size:14px;
	        -webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease; }
ul.nav-list li a:hover, ul.nav-list li a:focus { color:#d98a19; }

.logo a:hover{
    border: none !important;
	padding-bottom: 0px !important;
}
.anchor-link { 
	display: none; 
	text-align: center;
	margin-top:20px;
    margin-right: 10px;
    float: right; 
  }
#mobile-nav { display:none; }
/***--- About Section ---***/
#about-section{
    display: block;
	overflow: hidden;
}
#about{
    display: block;
	overflow: hidden;
}
.about_left {
	background-image: url(../images/about-us-background.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	height: 525px;
	display: block;
	overflow: hidden;
}
.about_btn {
  margin-top: 210px;
  position: relative;
  z-index: 1;
}
.about_right {
    background-color: #f2efe5;
    display: block;
    height: 525px;
    overflow: hidden;
    text-align: center;
}
.about_text {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}
.about_text img {
    margin: 90px auto 0;
}
.about_text img:hover{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.about_text h3 {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  padding: 35px 0 20px;
}
.about_right p {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
/*----------------- Gallery One --------------------*/
#gallery-one-image-section{
    display: block;
	overflow: hidden;
}
.gallery-one-image {
    width: 100%;
    height: 100%;
}
.popup-links-button{

}
.popup-links-button li {
    margin-right: 12px;
}
.popup-links-button button {
    margin-top: 5px;
}
/*	Zooming
/*-----------------------------------------------------------------------------------*/
.zooming {
    margin-top: 75px;
}
/*	Strip
/*-----------------------------------------------------------------------------------*/
.gal1 {
  position: relative;
}
.svcimage {
  width: 100%;
  height: auto;
}
.gal1:hover .svcimage {
  opacity: 0.4;
  -webkit-filter: blur(3px);
	filter: blur(3px);
}
.gal1 figure {
	background: #d98a19;
	-webkit-filter: brightness(60%);
	filter: brightness(40%);
}
.gal1 figure img {
	opacity: 1;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.svcbutton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.svcbutton a {
	font-size: 20px;
	text-decoration: none;
}
.svcbtn {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.svcbtn i {
	font-size: 50px;
	padding-bottom: 10px;
}
.svcbtn:hover {
  color: white;
}

.svcbutton2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.svcbutton2 a {
	font-size: 14px;
	text-decoration: none;
}
.svcbtn2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.svcbtn2 i {
	font-size: 30px;
	padding-bottom: 10px;
}
.svcbtn2:hover {
  color: white;
}

.gal2 {
  position: relative;
}
.gal2:hover .ytbutton {
  opacity: 1;
}
.ytimage {
  display: block;
  width: 100%;
  height: auto;
}
.ytbutton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(200,200,200,0.7);
}
.ytbtn {
  color: red;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.ytbtn:hover {
  color: black;
}

.gals_left {
	position: relative;
}

.gals_left:hover .svcimage {
  opacity: 0.4;
  -webkit-filter: blur(3px);
	filter: blur(3px);
}
.gals_left figure {
	background: #d98a19;
	-webkit-filter: brightness(60%);
	filter: brightness(40%);
}
.gals_left figure img {
	opacity: 1;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	height: 500px;
}

.gals_right {
    background-color: #f2efe5;
    display: block;
    height: 500px;
    overflow: hidden;
    text-align: center;
}
.gals_text {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}
.gals_text img {
    margin: 90px auto 0;
}
.gals_text img:hover{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.gals_text h3 {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  padding: 35px 0 20px;
}
.gals_right p {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/

/* lt-ie9 */

ul.about_gallery {
	padding: 0;
	list-style: none;
}
ul.about_gallery li {
	width: 33.33%;
	float: left;
}
ul.about_gallery2 {
	padding: 0;
	list-style: none;
}
ul.about_gallery2 li {
	width: 16.66%;
	float: left;
}
ul.popup_links{
	padding:0;
	list-style:none;
	text-align:center;
	margin-top:1em;
}
ul.popup_links li{
	display:inline-block;
	float: none;
}
i.link{
	background: url(../images/icons.png)no-repeat -5px -6px;
	width: 30px;
	height: 30px;
	display: inline-block;
}
i.info{
	background: url(../images/icons.png)no-repeat -50px -6px;
	width: 30px;
	height: 30px;
	display: inline-block;
}
i.like{
	background: url(../images/icons.png)no-repeat -97px -6px;
	width: 30px;
	height: 30px;
	display: inline-block;
}
/*--testmonial--*/
#testimonial-section {
    display: block;
	overflow: hidden;
}
.testimonial {
	background: url(../images/testimonial-background.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
	min-height:400px;
	padding-top:3em;
}
.testimonial span.quotes {
	position: absolute;
	top:7em;
	width: 60px;
	height: 40px;
	background: url(../images/icons.png) no-repeat -148px -6px;
	left:14em;
}
.testimonial span.quotes-down {
	position: absolute;
	top:13em;
	width: 60px;
	height: 40px;
	background: url(../images/icons.png) no-repeat -232px -6px;
	right: 14em;
}
.testimonial p {
    color: #f2efe5;
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
    margin-top: 135px;
    text-align: center;
    text-indent: 20px;
	padding: 0px 42px;
	font-weight: bold;
}
.test_wrap{
	width: 80%;
    margin:0 auto;
}
.testimonial h4 {
    color: #f2efe5;
    float: right;
    font-size: 15px;
    font-style: italic;
    margin-right: 12%;
    margin-top: 6%;
    text-transform: uppercase;
}
/*--team--*/
#team-section {
    display: block;
	overflow: hidden;
}
.team-grid-1 {
    background-image: url("../images/team-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    min-height: 505px;
    text-align: center;
	display: block;
	overflow: hidden;
}
.team_btn {
    margin-top: 195px;
    position: relative;
    z-index: 1;
}
.team-grid-2{
	background-image: url(../images/team-member-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height:505px;
	text-align: center;
}
.teampic{
	max-height:505px;
	text-align: center;
}
.teampic figure {
	background: #fff;
	overflow: hidden;
}
.teampic figure img {
	width: 101%;
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.teampic figure:hover img {
	-webkit-transform: rotate(15deg) scale(1.3);
	transform: rotate(15deg) scale(1.3);
}

.team-grid-3{
	background-color: #ccc8b6;
	padding:10em 3em 0;
	text-align: center;
	min-height: 505px;
	display: block;
	overflow: hidden;
}
.team-grid-3 a {
    text-decoration: none;
}
.team-grid-3 h3 {
    color: #000000;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.team-grid-3 p {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.team-grid-4{
	background-image: url(../images/team-member-2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height:505px;
	text-align: center;
}
.arrow-icon1 {
	height: 30px;
	width: 28px;
	display: block;
	background: url(../images/arrow.png);
	background-position: 0px -3px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	z-index: 999;
	top:25%;
}
.arrow-icon1-r {
	left: -27px;
}
.team-grid-5{
	background: #ccc8b6;
	padding:10em 3em 0;
	text-align: center;
	min-height: 505px;
	position:relative;
}
.team-grid-5 a {
    text-decoration: none;
}
.team-grid-5 h3{
    color: #000000;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.team-grid-5 p{
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.contact_grid{
	background:#f2efe5;
	padding:12em 7em 0;
	min-height:505px;
}
/***--- Newsletter ---***/
.newsletter_grid{
	background:#f2efe5;
	padding:8em 6em 0;
	min-height:505px;
}
.newsletter_grid h3 {
	color: #000;
	font-size: 1.1em;
	text-transform: uppercase;
}
.newsletter-div {
    display: block;
	overflow: hidden;
	width: 100%;
}
.newsletter {
    display: block;
    overflow: hidden;
}
.newsletter p{
    text-align:center;
}
.newsletter input[type="text"] {
	background-color: #ffffff;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	border:1px solid #000;
	outline: none;
	font-size: 13px;
	padding: 12px;
	color:#9a977a;
	width:100%;
	text-transform: uppercase;
	display: block;
	overflow: hidden;
}
.newsletter input[type="submit"] {
	background: #9a977a;
	text-transform: uppercase;
	border: none;
	padding: 12px;
	cursor: pointer;
	color: #FFF;
	outline: none;
	font-size: 15px;
	text-align: center;
	margin-top: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
}
.newsletter input[type="submit"]:hover{
	background:#333333;
}
.newsletter_grid p{
	color: #333;
	font-size:0.85em;
	text-transform: uppercase;
	line-height:1.5em;
	margin-bottom:3em;
}
/*--twitter--*/
#twitter-section {
    display: block;
	overflow: hidden;
}
.twitter-div{
	background: url(../images/twitter-background.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height:350px;
	padding-top:7em;
	text-align:center;
}
i.tw_icon{
	width: 45px;
	height: 40px;
	display: inline-block;
	background: url(../images/icons.png)no-repeat -89px -162px;
}
.twitter-div p {
    color: #f2efe5;
    font-size: 18px;
    font-style: italic;
    line-height: 25px;
    margin-top: 25px;
    padding: 0 40px;
}
/*--gallery--*/
#gallery-two-image-section{
    display: block;
	overflow: hidden;
}
.gallery-title {
	background-image: url("../images/team-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    background-color: #afac9c;
    display: block;
    float: left;
    min-height: 317px;
    overflow: hidden;
    text-align: center;
    width: 40%;
}
.gallery_btn {
	position: relative;
	z-index: 1;
	margin-top: 100px;
}
.gallery-two-row-one {
    padding: 0;
    display: block;
    overflow: hidden;
    width: 60%;
	min-height: 317px;
}
.gallery-two-row-two{
    padding: 0;
    display: block;
    overflow: hidden;
    width: 100%;
	min-height: 317px;
}
.gallery-two-row-three{
    padding: 0;
    display: block;
    overflow: hidden;
    width: 100%;
	min-height: 317px;
}
.gallery-two-row-four{
    padding: 0;
    display: block;
    overflow: hidden;
    width: 100%;
	min-height: 317px;
}
.gallery-two-image {
    width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;	
}
ul.gallery-grid-box {
	padding: 0;
	list-style: none;
}
ul.gallery-grid-one li {
	width: 33.33%;
	float: left;
	height: 270px;
}
ul.gallery-grid-two li {
	width: 20%;
	float: left;
	height: 270px;
}
ul.gallery-grid-three li {
	width: 20%;
	float: left;
	height: 270px;
}
ul.gallery-grid-four li {
	width: 20%;
	float: left;
	height: 270px;
}
ul.popup_links.g_links {
	margin-left: 5em;
}
.gallery-two-popup-links {
    display: block
}
.gallery-two-popup-links li {
    margin-left: 25px;
}
.gallery-two-popup-links li button {
    margin-top: 35px;
}
.gallery-grid-one .popup_links li {
    margin-left: 0;
}
.mobile-display-on{display:none;}
.mobile-display-off{display: block;}
/*--contact--*/
.contact{
	background:#e7e5d0;
	padding:4em 0;
}

.contact-info {
	padding:5.5em 0;
}

.contact-form {
    width: 90%;
    margin: 0 auto;
}
.contact-form input[type="text"] {
	display: block;
	width: 100%;
	padding: 20px;
	border: 2px solid #000;
	outline: none;
	margin-bottom:4em;
	font-size:0.95em;
	color: #BDBDBD;
	background-color: #ffffff;
	text-transform: uppercase;
}
.contact-form textarea {
	display: block;
	width: 100%;
	padding: 15px;
	border:2px solid #000;
	outline: none;
	font-size:0.95em;
	color: #BDBDBD;
	height: 140px;
	resize: none;
	background-color: #ffffff;
	text-transform: uppercase;
}
.contact-form input[type="submit"] {
	background: #9a977a;
	text-transform: uppercase;
	border: none;
	padding:1.5em 1em;
	position: absolute;
	cursor: pointer;
	color: #FFF;
	outline: none;
	font-size: 1em;
	width:70%;
	text-align: center;
	margin-top: 1.5em;
	font-weight:normal;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.contact-form input[type="submit"]:hover{
	background: #333333;
}
.contact-left{
	text-align:center;
	margin-bottom: 4em;
}
.contact-left h4 {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    margin: 75px 0;
    padding: 0 60px;
}
.contact_btn{
	position: relative;
	z-index: 1;
}
ul.contact-list-one {
	float: left;
	width: 60%;
	padding: 0;
	list-style: none;
	text-align:left;
}
ul.contact-list-one h5, ul.contact-list-two h5{
	color:#000;
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
}
ul.contact-list-one li, ul.contact-list-two li{
	color:#000;
	font-size:0.95em;
	line-height: 1.8em;
	text-transform:uppercase;
}
.contact-list-one li a {
    color: #000000;
    font-weight: bold;
    text-transform: lowercase;
}
.contact-list-one li a:hover{
    color: #333333;
}
ul.contact-list-two {
	float: left;
	width: 40%;
	padding: 0;
	list-style: none;
	text-align:left;
}
.bold{
    font-weight: bold;
}

.social-link { margin: 0 auto; display: table; padding: 0; text-align:center; margin-bottom:10px; padding-top:5px;}
.social-link a { display:inline; width:50px; height:50px; text-align:center; font-size:40px; letter-spacing: 50px; color:#444; border-radius:50%; transition:all 0.1s ease-in-out;}
.social-link a:hover, .social-link a:focus{text-decoration:none;}

.social-linkt { margin: 0 auto; display: table; padding: 0; text-align:center; margin-bottom:0px; padding-top:20px;}
.social-linkt a { display:inline; width:50px; height:50px; text-align:center; font-size:30px; letter-spacing: 30px; color:#444; border-radius:50%; transition:all 0.1s ease-in-out;}
.social-linkt a:hover, .social-link a:focus{text-decoration:none;}

.instagram:hover {color: #c32aa3;}
.youtube:hover {color: #ff0000;}
.facebook:hover {color: #3b5998;}
.twitter:hover { color: #1da1f2;}
.soundcloud:hover {color: #ff7700;}
.tumblr:hover {color: #35465d;}
/***--- Map ---***/
#map-section{
    display: block;
    overflow: hidden;
}
.map-div {
    display: block;
    overflow: hidden;
}
.map-div img{
    width: 100%;
}
/*--promos--*/
.promo-section { width: 100%; color: #f8f8f8; background: url(../images/banner2.jpg) no-repeat center center; }
.connect { font-size: 20px;}
.connect h2 { margin: 0; text-shadow: 2px 2px 3px rgba(0,0,0,0.6); font-size: 3em;}
.connect-left{ text-align:center; margin-bottom: 2em;}
.banner-connect {text-align: center; padding-top:30px;}
.social-connect {text-align: center; letter-spacing: 26px; padding:30px 30px;}
.social-connect a i {font-size: 30px; color: #fff;}
.promo_btn{ position: relative; z-index: 1; }

@media(max-width:767px) {
    .connect h2 { margin: 0; text-shadow: 2px 2px 3px rgba(0,0,0,0.6); font-size: 3em;}
    .social-connect  {letter-spacing: 10px;}
	.social-connect a i {font-size: 20px;}
}
/*--footer--*/
#footer-section{
    background-color: #AEAEAE;
}
.footer-nav {
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer-main { width: 100%; float: left; background: #333;}
.footer { background: #212121; width: 100%; float: left; padding: 10px 0; position: relative;}
.footer > p { color: #777;}

.copyright {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
.copyright a{
    color: #000000;
	text-decoration: underline;
}
/***--- Go To Top ---***/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-to-top.png) no-repeat 0px 0px;
}